[submodule "bundle/awk-support"]
	path = bundle/awk-support
	url = https://github.com/vim-scripts/awk-support.vim.git
[submodule "bundle/perl-support"]
	path = bundle/perl-support
	url = https://github.com/vim-scripts/perl-support.vim.git
[submodule "bundle/bash-support"]
	path = bundle/bash-support
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule "bundle/sudo-edit"]
	path = bundle/sudo-edit
	url = https://github.com/vim-scripts/SudoEdit.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/vim-scripts/SuperTab--Van-Dewoestine.git
[submodule "bundle/vim-lesscss"]
	path = bundle/vim-lesscss
	url = https://github.com/vim-scripts/vim-lesscss
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/vim-scripts/vim-misc.git
[submodule "bundle/vim-support"]
	path = bundle/vim-support
	url = https://github.com/vim-scripts/Vim-Support.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/vim-scripts/sensible.vim.git
[submodule "bundle/extradite"]
	path = bundle/extradite
	url = https://github.com/vim-scripts/extradite.vim.git
[submodule "bundle/vim-colorscheme-switcher"]
	path = bundle/vim-colorscheme-switcher
	url = https://github.com/xolox/vim-colorscheme-switcher.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "bundle/vim-scriptease"]
	path = bundle/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "bundle/git-support"]
	path = bundle/git-support
	url = https://github.com/vim-scripts/Git-Support.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/merginal"]
	path = bundle/merginal
	url = https://github.com/vim-scripts/Merginal.git
[submodule "bundle/closetag.vim"]
	path = bundle/closetag.vim
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/xml.vim"]
	path = bundle/xml.vim
	url = https://github.com/vim-scripts/xml.vim.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/vim-scripts/xmledit.git
