[submodule "bundle/awk-support"]
	path = bundle/awk-support
	url = https://github.com/vim-scripts/awk-support.vim.git
[submodule "bundle/perl-support"]
	path = bundle/perl-support
	url = https://github.com/vim-scripts/perl-support.vim.git
[submodule "bundle/bash-support"]
	path = bundle/bash-support
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule "bundle/sudo-edit"]
	path = bundle/sudo-edit
	url = https://github.com/vim-scripts/SudoEdit.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/vim-scripts/SuperTab--Van-Dewoestine.git
[submodule "bundle/vim-lesscss"]
	path = bundle/vim-lesscss
	url = https://github.com/vim-scripts/vim-lesscss
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/vim-scripts/vim-misc.git
[submodule "bundle/vim-support"]
	path = bundle/vim-support
	url = https://github.com/vim-scripts/Vim-Support.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/extradite"]
	path = bundle/extradite
	url = https://github.com/vim-scripts/extradite.vim.git
[submodule "bundle/vim-colorscheme-switcher"]
	path = bundle/vim-colorscheme-switcher
	url = https://github.com/xolox/vim-colorscheme-switcher.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "bundle/vim-scriptease"]
	path = bundle/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "bundle/git-support"]
	path = bundle/git-support
	url = https://github.com/vim-scripts/Git-Support.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/merginal"]
	path = bundle/merginal
	url = https://github.com/vim-scripts/Merginal.git
[submodule "bundle/closetag.vim"]
	path = bundle/closetag.vim
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/vim-scripts/xmledit.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/xslt"]
	path = bundle/xslt
	url = https://github.com/vim-scripts/xslt.git
[submodule "bundle/restore_view.vim"]
	path = bundle/restore_view.vim
	url = https://github.com/vim-scripts/restore_view.vim.git
[submodule "bundle/Tabmerge"]
	path = bundle/Tabmerge
	url = https://github.com/vim-scripts/Tabmerge.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/yegappan/mru.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/xml.vim"]
	path = bundle/xml.vim
	url = https://github.com/vim-scripts/xml.vim.git
[submodule "bundle/whitespace-syntax-highlight"]
	path = bundle/whitespace-syntax-highlight
	url = https://github.com/vim-scripts/whitespace-syntax-highlight.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/jshint2.vim"]
	path = bundle/jshint2.vim
	url = https://github.com/Shutnik/jshint2.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/csv.vim"]
	path = bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/promptline.vim"]
	path = bundle/promptline.vim
	url = https://github.com/edkolev/promptline.vim.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/DrawIt"]
	path = bundle/DrawIt
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "bundle/jQuery"]
	path = bundle/jQuery
	url = https://github.com/vim-scripts/jQuery.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/TWiki-Syntax"]
	path = bundle/TWiki-Syntax
	url = https://github.com/vim-scripts/TWiki-Syntax.git
[submodule "bundle/Toggle"]
	path = bundle/Toggle
	url = https://github.com/vim-scripts/Toggle.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "bundle/switch.vim"]
	path = bundle/switch.vim
	url = https://github.com/AndrewRadev/switch.vim.git
[submodule "bundle/permut.vim"]
	path = bundle/permut.vim
	url = https://github.com/vim-scripts/permut.vim.git
[submodule "bundle/darcula"]
	path = bundle/darcula
	url = https://github.com/blueshirts/darcula.git
[submodule "bundle/yowish"]
	path = bundle/yowish
	url = https://github.com/vim-scripts/yowish.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/threesome.vim"]
	path = bundle/threesome.vim
	url = https://github.com/sjl/threesome.vim.git
[submodule "bundle/readdir"]
	path = bundle/readdir
	url = https://github.com/vim-scripts/readdir.git
[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule "bundle/perl_h2xs"]
	path = bundle/perl_h2xs
	url = https://github.com/vim-scripts/perl_h2xs.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/EnhancedDiff"]
	path = bundle/EnhancedDiff
	url = https://github.com/vim-scripts/EnhancedDiff.git
[submodule "bundle/open-browser.vim"]
	path = bundle/open-browser.vim
	url = https://github.com/tyru/open-browser.vim.git
[submodule "bundle/vim-pairs"]
	path = bundle/vim-pairs
	url = https://github.com/kurkale6ka/vim-pairs.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/ShowSpaces"]
	path = bundle/ShowSpaces
	url = https://github.com/vim-scripts/ShowSpaces.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/powerline-shell"]
	path = bundle/powerline-shell
	url = https://github.com/milkbikis/powerline-shell.git
