spell/
.backupdir/
.undodir/
cache/
sessions/
misc/notes/
view/
doc/tags
**/doc/tags
.netrwhist
passwords.vim
vim_mru_files
*.swp
user.vim
bundle/*/
!bundle/file_templates/
!bundle/astronaut/
!bundle/StlShowFunc
!bundle/manpageview
