spell/
.backupdir/
.undodir/
cache/
sessions/
misc/notes/
view/
doc/tags
.netrwhist
passwords.vim
vim_mru_files
*.swp
user.vim
bash-support/templates/Templates
perl-support/templates/Templates
vim-support/templates/Templates
bundle/*/
!bundle/file_templates/
!bundle/astronaut/
!bundle/manpageview/
